mkdocs>=1.1
mkdocs-windmill
Pygments>=2.4
markdown>=3.3.3
pymdown-extensions>=7.0
mkdocs-redirects==1.0.0
mkdocs-minify-plugin>=0.2.3
mkdocs-htmlproofer-plugin>=0.0.3
mkdocs-table-reader-plugin>=0.0.3
