.mdi-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: var(--md-default-fg-color);
    mask-size: cover;
    margin: 0;
}

.md-typeset__table {
    min-width: 100%;
}

table th:first-child {
    border-radius: 5px 0 0 0;
}

table th:last-child {
    border-radius: 0 5px 0 0;
}


/* tbody tr:nth-child(even) {
    background: #88888811;
} */

.md-typeset table:not([class]) {
    display: table;
}

.md-footer-social {
    margin-top: 2em;
}

.md-footer__link {
    padding-top: 1rem;
}


/* Highlite color for new and deprecated tags */

.tag-medium {
    color: var(--md-accent-fg-color);
    font-size: 1.2rem;
}

.tag-small {
    color: var(--md-accent-fg-color);
    font-size: 0.8rem;
}


/* Youtube reponsive container */

.video-container {
    max-width: 560px;
    min-height: 320px;
    margin: auto;
    position: relative;
    padding-bottom: 30px;
    padding-top: 30px;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 320px;
    margin: auto;
}


/* Banner for outdated versions */

div[data-md-component=announce] {
    background-color: rgba(255, 145, 0, .1);
}

div[data-md-component=announce]>div#announce-msg {
    color: var(--md-admonition-fg-color);
    font-size: .8rem;
    text-align: center;
    margin: 15px;
}

div[data-md-component=announce]>div#announce-msg>a {
    color: var(--md-typeset-a-color);
    text-decoration: underline;
}