.mdi-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: var(--md-default-fg-color);
    mask-size: cover;
    margin: 0;
}

.md-typeset__table {
    min-width: 100%;
}

table th:first-child {
    border-radius: 5px 0 0 0;
}

table th:last-child {
    border-radius: 0 5px 0 0;
}


/* tbody tr:nth-child(even) {
    background: #88888811;
} */

.md-typeset table:not([class]) {
    display: table;
}

.md-footer-social {
    margin-top: 2em;
}

.md-footer__link {
    padding-top: 1rem;
}


/* Highlite color for new and deprecated tags */

.tag-large {
    color: var(--md-accent-fg-color);
    font-size: 1.5rem;
}

.tag-medium {
    color: var(--md-accent-fg-color);
    font-size: 1.2rem;
}

.tag-small {
    color: var(--md-accent-fg-color);
    font-size: 0.8rem;
}


/* Banner for outdated versions */

div[data-md-component=announce] {
    background-color: rgba(255, 145, 0, .1);
}

div[data-md-component=announce]>div#announce-msg {
    color: var(--md-admonition-fg-color);
    font-size: .8rem;
    text-align: center;
    margin: 15px;
}

div[data-md-component=announce]>div#announce-msg>a {
    color: var(--md-typeset-a-color);
    text-decoration: underline;
}


/* Web installer */

.log {
    padding: 6px 20px 8px 20px;
    display: none;
}

#reset-button {
    display: none;
}

.info-top {
    font-size: 32px;
    display: inline-block;
}

.info-bot {
    display: inline-block;
}

#state {
    float: left;
}

#progress {
    float: right;
}

#bar {
    height: 12px;
    width: 100%;
    margin: 26px 0 8px 0;
    border-radius: 25px;
    background: linear-gradient(to right, red, orange, yellow, #0a0, cyan, #09f);
    overflow: hidden;
    position: relative;
}

#bar-inner {
    transform: translate(-50%, -10%);
    width: 200%;
    height: 120%;
    background: linear-gradient(to right, #fff 50%, #444 50%);
    transition: transform 3s;
    position: absolute;
    left: 0;
    top: 0;
}

#env {
    float: left;
}

#extra {
    float: right;
}


/* quotes */

.md-typeset .admonition.quote1,
.md-typeset details.quote1 {
    border-color: rgb(43, 155, 70);
}

.md-typeset .quote1>.admonition-title,
.md-typeset .quote1>summary {
    background-color: rgba(43, 155, 70, 0.1);
    border-color: rgb(43, 155, 70);
}

.md-typeset .quote1>.admonition-title::before,
.md-typeset .quote1>summary::before {
    background-color: rgb(43, 155, 70);
    -webkit-mask-image: var(--md-admonition-icon--quote);
    mask-image: var(--md-admonition-icon--quote);
}

.md-typeset .admonition.quote2,
.md-typeset details.quote2 {
    border-color: #00b0ff;
}

.md-typeset .quote2>.admonition-title,
.md-typeset .quote2>summary {
    background-color: rgba(0, 176, 255, 0.1);
    border-color: #00b0ff;
}

.md-typeset .quote2>.admonition-title::before,
.md-typeset .quote2>summary::before {
    background-color: #00b0ff;
    -webkit-mask-image: var(--md-admonition-icon--quote);
    mask-image: var(--md-admonition-icon--quote);
}


/* custom titles */

h1.hide {
    display: none!important
}
h3.param {
    font-size: 0.818rem;
    font-weight: 800;
}